<div class="container-fluid">
    <div class="row mb-5">
        <div class="col-8">
            <img src="{{ hostname ~ asset('image/logo.png') }}" alt="logo" style="height: 100px">
        </div>
    </div>
    <p style="margin-bottom: 20px">{% trans %}Bonjour{% endtrans %} {{ firstName }} {{ name }},</p>
    <p>{% trans %}Nous vous remercions de nous avoir contactés{% endtrans %} {% if business%} {% trans %}pour votre société{% endtrans %} {{ business }} {% endif %}.</p>
    <p>{% trans %}Votre message fera l'objet d'une étude approfondie de notre part.{% endtrans %}</p>
    <p>{% trans %}Nous ne manquerons pas de vous tenir informé(e) dans les meilleurs délais.{% endtrans %}</p>
    <p style="margin-top: 20px">{% trans %}Nous vous informons que nos délais de traitement pourront s'allonger en raison de la situation actuelle liée au Covid-19.{% endtrans %} </p>
    <p style="margin-top: 20px">{% trans %}Cordialement,{% endtrans %}</p>
    <p>{% trans %}L'équipe HaPartners{% endtrans %}</p>
</div>