{% extends 'base.html.twig' %}

{% block title %}{% trans %}Qui sommes-nous ?{% endtrans %}{% endblock %}

{% block body %}
    <section class="qui">
    <div class="text">
        <h1> {% trans %}Qui sommes-nous ?{% endtrans %}</h1>
    </div>
    <div class="container-fluid">
        <div class="row" data-aos="zoom-in-right" style="margin-top: 65px">
            <div class="col-lg-4">
                <img src="https://cdn.pixabay.com/photo/2015/01/08/18/29/entrepreneur-593361_960_720.jpg" class="img-fluid img" alt="">
            </div>
            <div class="col-lg-8 text-end display">

                <h2 class="text-center">   {% trans %}CONSEILS EN ACHAT STRATEGIQUE ET OPERATIONNEL {% endtrans %}</h2>
                <p>{% trans %}Les entreprises & les organisations achats ont été bouleversés par la crise épidémiques ces deux dernières années rendant ainsi les approvisionnements complexes.{% endtrans %}</p>
                <p>{% trans %}La réponse à ces équations complexes quant aux pénuries ou aux hausses de prix significatives devient un défi mettant les équipes achats sous-tension.{% endtrans %}</p>
                <p>{% trans %}HA Partners, une entreprise orientée résultat et satisfaction client vous propose de vous accompagner dans vos enjeux achats (CAPEX, OPEX, GENEX) en mettant à disposition les ressources adéquates à votre besoin (Pic de Charge, Prestations hors cœur de métier, difficultés spécifiques,).{% endtrans %}</p>
                <p>{% trans %}Nous nous ferons un plaisir de vous faire gagner en réactivité et flexibilité tout en tenant compte de vos contraintes QCD (Qualité, Coût, Délai...).{% endtrans %}</p>

            </div>
        </div>
        <div class="row" data-aos="zoom-in-left" style="margin-top: 65px">
            <div class="col-lg-8 text-end display">

                <h2 class="text-center">{% trans %}PRESENTONS-NOUS{% endtrans %}</h2>
                <p>{% trans %}Passionné des achats qui après plus de 10 ans d’expérience internationale dans des groupes de renommée dans leur domaine (construction, ferroviaire et l’automobile).{% endtrans %}</p>
                <p>{% trans %}Achats directs (Matières premières, Prestations Intellectuelles, Projets Clés en main, usines clés en main, localisation…).{% endtrans %}</p>
                <p>{% trans %}Que des achats CAPEX (Construction & Rénovation de bâtiments, Machining, Outillage) puis les achats indirects (gestion de flotte automobile, assurances, facility management...).{% endtrans %}</p>
                <p>{% trans %}HA Partners et son réseau de professionnels dans divers domaines (SI Achats, Professeur d’Université et professionnels de la fonction publique…) assurent une qualité de service.{% endtrans %}</p>

            </div>
            <div class="col-lg-4">
                <img src="{{ asset('./image/logo.png') }}" class="img-fluid img" alt="">
            </div>
        </div>
    </div>
    <div class="container" data-aos="fade-up">
            <div class="row mb-5" style="margin-top: 65px">
                <h2 class="text-center">{% trans %}NOS VALEURS{% endtrans %}</h2>
                <button class=" button left mt-5">
                    {% trans %}
                    Ecoute du besoin
                    {% endtrans %}
                    <div class="button__horizontal"></div>
                    <div class="button__vertical"></div>
                </button>
                <button class=" button left mt-5">
                        {% trans %}
                        Création de valeur
                        {% endtrans %}
                        <div class="button__horizontal"></div>
                        <div class="button__vertical"></div>
                </button>
                    <button class=" button left mt-5">
                        {% trans %} Satisfaction du client{% endtrans %}
                        <div class="button__horizontal"></div>
                        <div class="button__vertical"></div>
                    </button>
            </div>
    </div>
    </section>

{% endblock %}
