<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="{{ asset('/image/logo2.png') }}">
        <title>{% block title %}HaPartner {% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

        {% include 'header.html.twig' %}

        {% block body %}{% endblock %}

        {% include 'footer.html.twig' %}

    </body>


</html>
